# Node & package manager
node_modules

# macOS (Finder)
.DS_Store

# Environment variables
.env.*
!.env.template

# TypeScript
*.tsbuildinfo

# Astro
.astro
dist

# Cloudflare
.cloudflare
.wrangler

# Svelte
.svelte-kit/
dist-ssr

# Logs
logs
*.log
