# Dependencies
node_modules

# TanStack Start
.tanstack

# macOS (Finder)
.DS_Store

# Environment variables
.env*
!.env.template

# TypeScript
*.tsbuildinfo

# Astro
.astro
dist

# Bun
bun.lockb

# Cloudflare
.wrangler

# Convex
.convex/

# moon
.moon/cache
