@import "tailwindcss";

@theme {
  --color-blue-400: oklch(67% 0.183 249);
  --color-blue-500: oklch(62.7% 0.17 249);
  --color-gray-100: oklch(97% 0 0);
  --color-gray-200: oklch(92.5% 0 0);
  --color-gray-300: oklch(88.5% 0 0);
  --color-gray-400: oklch(76.7% 0 0);
  --color-gray-500: oklch(56.2% 0 0);
  --color-gray-600: oklch(38.7% 0 0);
  --color-gray-700: oklch(34.1% 0 0);
  --color-gray-800: oklch(29.3% 0 0);
  --color-gray-900: oklch(23.5% 0 0);
  --color-gray-1000: oklch(17.8% 0 0);
  --shadow-panel: var(--shadow-panel);
  --shadow-popover: var(--shadow-popover);
  --shadow-timeline: var(--shadow-timeline);
}

:root {
  --shadow-panel: 0px 0px 0.5px oklch(0% 0 0 / 30%), 0px 1px 3px oklch(0% 0 0 / 15%);
  --shadow-popover:
    0px 0px 0.5px oklch(0% 0 0 / 12%), 0px 10px 16px oklch(0% 0 0 / 12%),
    0px 2px 5px oklch(0% 0 0 / 15%);
  --shadow-timeline:
    0px 0px 0.5px oklch(0% 0 0 / 18%), 0px 3px 8px oklch(0% 0 0 / 10%),
    0px 1px 3px oklch(0% 0 0 / 10%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --shadow-panel:
      0px 0px 0.5px oklch(0% 0 0 / 50%), 0px 1px 3px oklch(0% 0 0 / 40%),
      inset 0px 0.5px 0px oklch(100% 0 0 / 10%), inset 0px 0px 0.5px oklch(100% 0 0 / 30%);
    --shadow-popover:
      0px 0px 0.5px oklch(0% 0 0 / 12%), 0px 10px 16px oklch(0% 0 0 / 12%),
      0px 2px 5px oklch(0% 0 0 / 15%);
    --shadow-timeline:
      0px 3px 8px oklch(0% 0 0 / 35%), 0px 1px 3px oklch(0% 0 0 / 50%),
      inset 0px 0.5px 0px oklch(100% 0 0 / 8%), inset 0px 0px 0.5px oklch(100% 0 0 / 30%);
  }
}

@keyframes music-headset-1 {
  0%,
  20% {
    translate: 0 0;
  }
  50% {
    translate: 0 -30%;
  }
  80%,
  100% {
    translate: 0 0;
  }
  0% {
    scale: 1 1;
  }
  20% {
    scale: 1.08 0.9;
  }
  50% {
    scale: 1 1.1;
  }
  80% {
    scale: 1.08 0.9;
  }
  100% {
    scale: 1 1;
  }
}

@keyframes music-headset-2 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-20deg);
  }
}

@keyframes music-headset-3 {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes music-note-1 {
  0%,
  20% {
    translate: 0 0;
  }
  50% {
    translate: 0 -30%;
  }
  80%,
  100% {
    translate: 0 0;
  }
  0% {
    scale: 1 1;
  }
  20% {
    scale: 1.08 0.9;
  }
  50% {
    scale: 1 1.1;
  }
  80% {
    scale: 1.08 0.9;
  }
  100% {
    scale: 1 1;
  }
}

@keyframes music-note-2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(20deg);
  }
}

@keyframes music-note-3 {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes download-arrow {
  0%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(130%);
  }
  40.1% {
    transform: translateY(-100%);
  }
  70% {
    transform: translateY(15%);
  }
}

@keyframes download-base {
  0%,
  100% {
    width: 100%;
  }
  50% {
    width: 130%;
  }
  75% {
    width: 90%;
  }
}

@keyframes resize-1 {
  0% {
    width: 44%;
    height: 78%;
  }
  50% {
    width: 48%;
    height: 74%;
    transform: translate(-2%, 7%);
  }
  75% {
    width: 40%;
    height: 78%;
    transform: translate(-2%, 7%);
  }
  to {
    width: 100%;
    height: 100%;
  }
}

@keyframes resize-2 {
  from {
    width: 100%;
    height: 100%;
  }
  to {
    width: 44%;
    height: 78%;
  }
}

@keyframes pause {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes play-1 {
  0% {
    transform: translateX(0%) rotate(0deg);
  }
  100% {
    transform: translateX(-96%) rotate(-90deg);
  }
}

@keyframes play-2 {
  0% {
    transform: translateX(-96%) rotate(-90deg);
  }
  100% {
    transform: translateX(0%) rotate(0deg);
  }
}

@keyframes scribble-1 {
  from {
    opacity: 0;
  }
  10%,
  to {
    opacity: 1;
  }
  from {
    stroke-dasharray: 0 231px;
    stroke-width: 5px;
  }
  to {
    stroke-dasharray: 231px 231px;
    stroke-width: 11px;
  }
}

@keyframes scribble-2 {
  from,
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: calc(231px * -1);
  }
}

@keyframes signature-1 {
  from {
    opacity: 0;
  }
  10%,
  to {
    opacity: 1;
  }
  from {
    stroke-dasharray: 0 122px;
    stroke-width: 5px;
  }
  to {
    stroke-dasharray: 122px 122px;
    stroke-width: 8px;
  }
}

@keyframes signature-2 {
  from,
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: calc(122px * -1);
  }
}

@keyframes signature-3 {
  from {
    opacity: 0;
    stroke-dasharray: 0 122px;
    stroke-dashoffset: 0;
    stroke-width: 5px;
  }
  to {
    opacity: 0;
    stroke-dasharray: 0 122px;
    stroke-dashoffset: 0;
    stroke-width: 5px;
  }
}

@keyframes shock-1 {
  from {
    opacity: 0;
  }
  0%,
  to {
    opacity: 1;
  }
  0% {
    transform: translateX(101%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes shock-2 {
  from {
    opacity: 0;
  }
  0%,
  to {
    opacity: 1;
  }
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-101%);
  }
}

@keyframes shock-3 {
  from {
    opacity: 0;
  }
  0%,
  to {
    opacity: 1;
  }
  0% {
    transform: translateX(-101%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes shock-4 {
  from {
    opacity: 0;
  }
  0%,
  to {
    opacity: 1;
  }
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes smile-1 {
  0% {
    transform: translateX(170%) rotate(220deg);
  }
  100% {
    transform: translateX(0%) rotate(0deg);
  }
}

@keyframes smile-2 {
  from {
    transform: translateX(0%) rotate(0deg);
  }
  to {
    transform: translateX(-170%) rotate(-220deg);
  }
}

@keyframes smile-3 {
  from {
    transform: translateX(170%) rotate(220deg);
  }
  to {
    transform: translateX(0%) rotate(0deg);
  }
}

@keyframes shocked-1 {
  from {
    opacity: 0;
  }
  0%,
  to {
    opacity: 1;
  }
  0% {
    transform: translateY(-160%);
  }
  60% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(-6%);
  }
  80% {
    transform: translateY(0%);
  }
  90% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes shocked-2 {
  from {
    transform: translateY(0%);
    transform-origin: top;
  }

  to {
    transform: translateY(160%);
    transform-origin: top;
  }
}

@keyframes template-1 {
  from {
    transform: translateY(-44%) scale(0.66);
  }
  60% {
    transform: translateY(-22%) scale(0.9);
  }
  to {
    transform: translateY(-22%) scale(0.86);
  }
}

@keyframes template-2 {
  from {
    transform: translateY(-22%) scale(0.86);
  }
  60% {
    transform: translateY(0) scale(1.04);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

@keyframes template-3 {
  from {
    transform: rotate(0deg);
  }
  60% {
    transform: translate(-22%, -134%) rotate(-15deg);
  }
  to {
    transform: translate(-20%, -130%) rotate(-15deg);
  }
}

@keyframes template-4 {
  from {
    transform: translate(-20%, -130%) rotate(-15deg);
    z-index: 2;
  }
  60% {
    transform: translate(-20%, -110%) rotate(-12deg) scale(0.63);
    z-index: -1;
  }
  to {
    transform: translate(-20%, -110%) rotate(-12deg) scale(0.66);
    z-index: -1;
  }
}

@keyframes template-5 {
  from {
    transform: translate(-20%, -110%) rotate(-12deg) scale(0.66);
  }
  60% {
    transform: translateY(-40%) scale(0.66);
  }
  to {
    transform: translateY(-44%) scale(0.66);
  }
}

@keyframes slider-1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(232%);
  }
}

@keyframes slider-2 {
  from {
    transform: translateX(232%);
  }
  50% {
    transform: translateX(-45%);
  }
  75% {
    transform: translateX(15%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slider-3 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-232%);
  }
}

@keyframes slider-4 {
  from {
    transform: translateX(-232%);
  }
  50% {
    transform: translateX(45%);
  }
  75% {
    transform: translateX(-15%);
  }
  to {
    transform: translateX(0);
  }
}
