@import "tailwindcss";

@theme {
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-border: var(--border);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
}

:root {
  --accent: oklch(67% 0.183 249);
  --background: oklch(100% 0 0);
  --border: oklch(92.5% 0 0);
  --foreground: oklch(29.3% 0 0);
  --muted: oklch(97% 0 0);
  --muted-foreground: oklch(56.2% 0 0);
  --primary: oklch(23.5% 0 0);
  --primary-foreground: oklch(92.5% 0 0);
  --secondary: oklch(92.5% 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: oklch(62.7% 0.17 249);
    --background: oklch(23.5% 0 0);
    --border: oklch(34.1% 0 0);
    --foreground: oklch(92.5% 0 0);
    --muted: oklch(29.3% 0 0);
    --muted-foreground: oklch(76.7% 0 0);
    --primary: oklch(92.5% 0 0);
    --primary-foreground: oklch(23.5% 0 0);
    --secondary: oklch(34.1% 0 0);
  }
}
