@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-border: var(--border);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
}

:root {
  --background: oklch(100% 0 0);
  --border: oklch(92.5% 0 0);
  --foreground: oklch(29.3% 0 0);
  --muted: oklch(97% 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(29.3% 0 0);
    --border: oklch(29.3% 0 0);
    --foreground: oklch(92.5% 0 0);
    --muted: oklch(23.5% 0 0);
  }
}
